{% set host = host|default('') %}

{% if 'localhost' not in host %}
  {{ function('load_assets', 'button') }}
{% endif %}

{# {% set variant = variant|default(['primary']) %} #}
{% set class_list = ['button'] %}
{% for v in variant %}
  {% set class_list = class_list|merge(['button--' ~ v]) %}
{% endfor %}
{% if link %}
  <a href="{{ link }}" {% if id %}id="{{ id }}"{% endif %} {% if target %}target="{{ target }}"{% endif %} class="{{ class_list|join(' ') }} {{ disabled }}" {{tabindex ? 'tabindex="' ~ tabindex ~ '"' : ''}}>
    {% if icon == 'microphone' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="23" viewBox="0 0 17 23" fill="none">
        <path d="M8.16667 13.5529C7.28525 13.5529 6.54315 13.239 5.94038 12.6114C5.3376 11.9837 5.03621 11.2216 5.03621 10.325V3.11121C5.03621 2.2469 5.34042 1.51229 5.94883 0.907375C6.55744 0.302458 7.29633 0 8.1655 0C9.03486 0 9.77414 0.302458 10.3833 0.907375C10.9925 1.51229 11.2971 2.2469 11.2971 3.11121V10.325C11.2971 11.2216 10.9957 11.9837 10.393 12.6114C9.79018 13.239 9.04808 13.5529 8.16667 13.5529ZM7.19454 22.1667V18.3263C5.14626 18.093 3.43515 17.2148 2.06121 15.6917C0.68707 14.1686 0 12.3797 0 10.325H1.94454C1.94454 12.0425 2.55082 13.4928 3.76338 14.6758C4.97574 15.8586 6.44214 16.45 8.16258 16.45C9.88283 16.45 11.3506 15.8586 12.5659 14.6758C13.7812 13.4928 14.3888 12.0425 14.3888 10.325H16.3333C16.3333 12.3797 15.6463 14.1686 14.2721 15.6917C12.8982 17.2148 11.1871 18.093 9.13879 18.3263V22.1667H7.19454ZM8.16667 11.6083C8.51025 11.6083 8.79385 11.4836 9.01746 11.2341C9.24107 10.9845 9.35287 10.6814 9.35287 10.325V3.11121C9.35287 2.78065 9.23922 2.50357 9.01192 2.27996C8.78442 2.05635 8.50267 1.94454 8.16667 1.94454C7.83067 1.94454 7.54892 2.05635 7.32142 2.27996C7.09411 2.50357 6.98046 2.78065 6.98046 3.11121V10.325C6.98046 10.6814 7.09226 10.9845 7.31588 11.2341C7.53949 11.4836 7.82308 11.6083 8.16667 11.6083Z" fill="#1C1B1F"/>
      </svg>
    {% endif %}
    {% if icon == 'story' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="25" viewBox="0 0 19 25" fill="none">
        <path d="M3.20833 24.7333C2.33333 24.7333 1.57986 24.4424 0.947917 23.8607C0.315972 23.2787 0 22.5585 0 21.7V5.30833C0 4.58811 0.219528 3.94363 0.658583 3.37488C1.09764 2.80632 1.67212 2.44621 2.38204 2.29454L13.6112 0V18.2779L2.92629 20.5138C2.64571 20.5747 2.41199 20.7191 2.22512 20.9472C2.03807 21.1753 1.94454 21.4262 1.94454 21.7C1.94454 22.0175 2.07093 22.2784 2.32371 22.4825C2.57649 22.6867 2.87136 22.7888 3.20833 22.7888H16.7221V3.73333H18.6667V24.7333H3.20833ZM5.44454 18.0346L11.6667 16.7417V2.39167L5.44454 3.64583V18.0346ZM3.5 18.4395V4.05417L2.96538 4.16121C2.67371 4.22596 2.43065 4.35925 2.23621 4.56108C2.04176 4.76311 1.94454 5.01219 1.94454 5.30833V18.9096C2.09426 18.8293 2.25157 18.759 2.41646 18.6987C2.58135 18.6385 2.75129 18.5921 2.92629 18.5596L3.5 18.4395Z" fill="#1C1B1F"/>
      </svg>
    {% endif %}
    {% if icon == 'video' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M8.80834 16.7221L16.7221 11.6667L8.80834 6.61121V16.7221ZM11.6667 23.3333C10.0658 23.3333 8.55565 23.0271 7.13621 22.4146C5.71676 21.8021 4.47874 20.9676 3.42213 19.9112C2.36571 18.8546 1.53125 17.6166 0.91875 16.1971C0.30625 14.7777 0 13.2675 0 11.6667C0 10.0528 0.30625 8.53611 0.91875 7.11667C1.53125 5.69722 2.36571 4.4625 3.42213 3.4125C4.47874 2.3625 5.71676 1.53125 7.13621 0.91875C8.55565 0.30625 10.0658 0 11.6667 0C13.2806 0 14.7972 0.30625 16.2167 0.91875C17.6361 1.53125 18.8708 2.3625 19.9208 3.4125C20.9708 4.4625 21.8021 5.69722 22.4146 7.11667C23.0271 8.53611 23.3333 10.0528 23.3333 11.6667C23.3333 13.2675 23.0271 14.7777 22.4146 16.1971C21.8021 17.6166 20.9708 18.8546 19.9208 19.9112C18.8708 20.9676 17.6361 21.8021 16.2167 22.4146C14.7972 23.0271 13.2806 23.3333 11.6667 23.3333ZM11.6667 21.3888C14.3759 21.3888 16.6735 20.4425 18.5596 18.55C20.4457 16.6575 21.3888 14.363 21.3888 11.6667C21.3888 8.95747 20.4457 6.65982 18.5596 4.77371C16.6735 2.8876 14.3759 1.94454 11.6667 1.94454C8.97031 1.94454 6.67586 2.8876 4.78333 4.77371C2.89081 6.65982 1.94454 8.95747 1.94454 11.6667C1.94454 14.363 2.89081 16.6575 4.78333 18.55C6.67586 20.4425 8.97031 21.3888 11.6667 21.3888Z" fill="#1C1B1F"/>
      </svg>
    {% endif %}
    {% if icon == 'down-arrow' %}
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <mask id="mask0_1135_508" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
        <rect width="28" height="28" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_1135_508)">
        <path d="M14.0007 25.6668L5.83398 17.5002L7.19519 16.1293L13.0285 21.9627V13.2223H14.9728V21.9627L20.8061 16.139L22.1673 17.5002L14.0007 25.6668ZM13.0285 11.278V7.38896H14.9728V11.278H13.0285ZM13.0285 5.4447V2.3335H14.9728V5.4447H13.0285Z" fill="#1C1B1F"/>
        </g>
      </svg>
    {% endif %}
    {% if icon == 'map' %}
      <svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" width="28" height="19.24" viewBox="0 0 28 19.24"><defs><style>.cls-1{fill:none;}</style></defs><g id="Layer_3"><circle cx="22.5" cy="13.74" r="3.5"/><polygon class="cls-1" points="8.44 13.39 14.06 15.26 14.06 4.13 8.44 2.25 8.44 13.39"/><path class="cls-1" d="M21.88,14.95l-2.2.84c.64.88,1.66,1.45,2.82,1.45,1.93,0,3.5-1.57,3.5-3.5s-1.57-3.5-3.5-3.5v3.81c0,.39-.27.74-.62.9Z"/><polygon class="cls-1" points="1.88 15.22 6.56 13.43 6.56 2.29 1.88 4.09 1.88 15.22"/><path class="cls-1" d="M20.62,8.57V2.29l-4.69,1.8v11.13l1.16-.45c-.06-.34-.1-.68-.1-1.04,0-2.37,1.51-4.39,3.62-5.16Z"/><path class="cls-1" d="M19,13.74c0,.1.02.2.03.3l1.59-.61v-2.63c-.97.62-1.62,1.71-1.62,2.95Z"/><path d="M19.03,14.04c.06.65.28,1.25.65,1.75l2.2-.84c.35-.16.62-.51.62-.9v-3.81h0c-.69,0-1.33.21-1.88.55v2.63l-1.59.61Z"/><path d="M15.94,15.22V4.09l4.69-1.8v6.28c.59-.21,1.22-.34,1.88-.34h0V.93c0-.27-.16-.59-.43-.74-.23-.2-.59-.23-.86-.12l-6.25,2.38L7.77.07c-.2-.08-.43-.08-.62,0L.59,2.57c-.35.16-.59.47-.59.86v13.12c0,.31.12.62.39.78.23.2.59.23.86.12l6.25-2.38,7.19,2.38c.2.08.43.08.62,0l2.45-.93c-.31-.53-.54-1.12-.66-1.74l-1.16.45ZM6.56,13.43l-4.69,1.8V4.09l4.69-1.8v11.13ZM14.06,15.26l-5.62-1.88V2.25l5.62,1.88v11.13Z"/><path class="cls-1" d="M22.5,8.24v1c2.49,0,4.5,2.01,4.5,4.5s-2.01,4.5-4.5,4.5c-1.59,0-2.99-.83-3.79-2.08l-.95.36c.96,1.63,2.72,2.72,4.74,2.72,3.03,0,5.5-2.47,5.5-5.5s-2.47-5.5-5.5-5.5Z"/><path class="cls-1" d="M20.62,9.66v-1.08c-2.11.77-3.62,2.79-3.62,5.16,0,.36.04.7.1,1.04l.97-.37c-.03-.22-.07-.44-.07-.67,0-1.81,1.08-3.37,2.62-4.08Z"/><path class="cls-1" d="M18.07,14.41l-.97.37c.12.62.35,1.21.66,1.74l.95-.36c-.33-.52-.55-1.11-.65-1.75Z"/><path class="cls-1" d="M20.62,8.57v1.08c.57-.26,1.2-.42,1.88-.42h0v-1h0c-.66,0-1.29.12-1.88.34Z"/><path class="cls-1" d="M19,13.74c0-1.24.65-2.32,1.62-2.95v-1.13c-1.55.71-2.62,2.27-2.62,4.08,0,.23.03.45.07.67l.96-.37c0-.1-.03-.2-.03-.3Z"/><path class="cls-1" d="M26,13.74c0,1.93-1.57,3.5-3.5,3.5-1.16,0-2.19-.58-2.82-1.45l-.96.37c.8,1.25,2.19,2.08,3.79,2.08,2.49,0,4.5-2.01,4.5-4.5s-2.01-4.5-4.5-4.5v1c1.93,0,3.5,1.57,3.5,3.5Z"/><path class="cls-1" d="M19.03,14.04l-.96.37c.1.64.31,1.23.65,1.75l.96-.37c-.36-.5-.59-1.1-.65-1.75Z"/><path class="cls-1" d="M20.62,9.66v1.13c.54-.35,1.18-.55,1.88-.55h0v-1h0c-.67,0-1.3.16-1.88.42Z"/></g></svg>
    {% endif %}
    <span>{{ text }}</span>
  </a>
{% else %}
  <button class="{{ class_list|join(' ') }} remote-video-button"
          type="button"
          data-src="{{ video_url }}"
          data-title="{{ item.title }}"
          data-video-overlay="true"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M8.80834 16.7221L16.7221 11.6667L8.80834 6.61121V16.7221ZM11.6667 23.3333C10.0658 23.3333 8.55565 23.0271 7.13621 22.4146C5.71676 21.8021 4.47874 20.9676 3.42213 19.9112C2.36571 18.8546 1.53125 17.6166 0.91875 16.1971C0.30625 14.7777 0 13.2675 0 11.6667C0 10.0528 0.30625 8.53611 0.91875 7.11667C1.53125 5.69722 2.36571 4.4625 3.42213 3.4125C4.47874 2.3625 5.71676 1.53125 7.13621 0.91875C8.55565 0.30625 10.0658 0 11.6667 0C13.2806 0 14.7972 0.30625 16.2167 0.91875C17.6361 1.53125 18.8708 2.3625 19.9208 3.4125C20.9708 4.4625 21.8021 5.69722 22.4146 7.11667C23.0271 8.53611 23.3333 10.0528 23.3333 11.6667C23.3333 13.2675 23.0271 14.7777 22.4146 16.1971C21.8021 17.6166 20.9708 18.8546 19.9208 19.9112C18.8708 20.9676 17.6361 21.8021 16.2167 22.4146C14.7972 23.0271 13.2806 23.3333 11.6667 23.3333ZM11.6667 21.3888C14.3759 21.3888 16.6735 20.4425 18.5596 18.55C20.4457 16.6575 21.3888 14.363 21.3888 11.6667C21.3888 8.95747 20.4457 6.65982 18.5596 4.77371C16.6735 2.8876 14.3759 1.94454 11.6667 1.94454C8.97031 1.94454 6.67586 2.8876 4.78333 4.77371C2.89081 6.65982 1.94454 8.95747 1.94454 11.6667C1.94454 14.363 2.89081 16.6575 4.78333 18.55C6.67586 20.4425 8.97031 21.3888 11.6667 21.3888Z" fill="#1C1B1F"/>
    </svg>
    {{ text }}
  </button>
{% endif %}
