{# HOW TO USE:
  {% include '@components/card/card.twig' with {
    'variant': 'your_variant',
    'image': 'your_image',
    'tag': {
      'text': 'your_tag_text',
    },
    'title': 'your_title',
    'subhead': 'your_subhead',
    'description': 'your_description',
    'cta': {
      'text': 'your_cta_text',
      'url': 'your_cta_url',
      'variant': 'your_cta_variant',
    }
  } %}
#}

{% if 'localhost' not in host %}
  {{ function('load_assets', 'card') }}
  {{ function('load_assets', 'video-modal') }}
{% endif %}

{%
  set class_list = [
    'card',
    variant ? 'card--' ~ variant : 'card--simple',
  ]
%}
{% for v in variant %}
  {% set class_list = class_list|merge(['card--' ~ v]) %}
{% endfor %}

<article class="{{ class_list|join(' ')|trim }}">
  {% if image %}
    <div class="card__image">
      {% if video_url %}
        <button
          class="remote-video-button"
          type="button"
          data-src="{{ video_url }}"
          data-title="{{ item.title }}"
          data-video-overlay="true"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54" fill="none">
            <path d="M20 38.6667L38.6667 26.6667L20 14.6667V38.6667ZM26.6667 53.3333C22.9778 53.3333 19.5111 52.6333 16.2667 51.2333C13.0222 49.8333 10.2 47.9333 7.8 45.5333C5.4 43.1333 3.5 40.3111 2.1 37.0667C0.7 33.8222 0 30.3556 0 26.6667C0 22.9778 0.7 19.5111 2.1 16.2667C3.5 13.0222 5.4 10.2 7.8 7.8C10.2 5.4 13.0222 3.5 16.2667 2.1C19.5111 0.7 22.9778 0 26.6667 0C30.3556 0 33.8222 0.7 37.0667 2.1C40.3111 3.5 43.1333 5.4 45.5333 7.8C47.9333 10.2 49.8333 13.0222 51.2333 16.2667C52.6333 19.5111 53.3333 22.9778 53.3333 26.6667C53.3333 30.3556 52.6333 33.8222 51.2333 37.0667C49.8333 40.3111 47.9333 43.1333 45.5333 45.5333C43.1333 47.9333 40.3111 49.8333 37.0667 51.2333C33.8222 52.6333 30.3556 53.3333 26.6667 53.3333ZM26.6667 48C32.6222 48 37.6667 45.9333 41.8 41.8C45.9333 37.6667 48 32.6222 48 26.6667C48 20.7111 45.9333 15.6667 41.8 11.5333C37.6667 7.4 32.6222 5.33333 26.6667 5.33333C20.7111 5.33333 15.6667 7.4 11.5333 11.5333C7.4 15.6667 5.33333 20.7111 5.33333 26.6667C5.33333 32.6222 7.4 37.6667 11.5333 41.8C15.6667 45.9333 20.7111 48 26.6667 48Z" fill="white"/>
          </svg>
          <div class="sr-only">Watch Video</div>
        </button>
      {% endif %}
      {{ image }}
    </div>
  {% endif %}
  <div class="card__content">
    <h2 class="card__title h3">
      {% if url %}
        <a href="{{ url }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h2>
    {% if type and location %}
      <div class="card__subhead type">{{ type }} • {{ location }}</div>
    {% endif %}
    {% if description %}
      <div class="card__description">{{ description }}</div>
    {% endif %}
  </div>
</article>
